START
PUSHN 4
PUSHS "Introduza um numero:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHG 0
PUSHI 0
SUP
STOREG 1
PUSHG 0
PUSHI 2
MOD
PUSHI 0
EQUAL
STOREG 2
PUSHG 1
PUSHG 2
AND
STOREG 3
PUSHG 3
JZ L5
PUSHG 0
WRITEI
PUSHS " e positivo e par"
WRITES
WRITELN
JUMP L6
L5:
PUSHG 1
JZ L3
PUSHG 0
WRITEI
PUSHS " e positivo mas impar"
WRITES
WRITELN
JUMP L4
L3:
PUSHG 2
JZ L1
PUSHG 0
WRITEI
PUSHS " e negativo e par"
WRITES
WRITELN
JUMP L2
L1:
PUSHG 0
WRITEI
PUSHS " e negativo e impar"
WRITES
WRITELN
L2:
L4:
L6:
STOP
