START
PUSHN 8
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 5
L1:
PUSHG 5
PUSHI 5
SUP
NOT
JZ L2
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
READ
ATOI
STOREN
NOP
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP L1
L2:
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 1
SUB
LOADN
STOREG 6
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 1
SUB
LOADN
STOREG 7
PUSHI 2
STOREG 5
L3:
PUSHG 5
PUSHI 5
SUP
NOT
JZ L4
PUSHG 6
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
LOADN
SUP
JZ L5
PUSHG 6
JUMP L6
L5:
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
LOADN
L6:
STOREG 6
PUSHG 7
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
LOADN
INF
JZ L7
PUSHG 7
JUMP L8
L7:
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
LOADN
L8:
STOREG 7
NOP
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP L3
L4:
PUSHS "Maximo: "
WRITES
PUSHG 6
WRITEI
WRITELN
PUSHS "Minimo: "
WRITES
PUSHG 7
WRITEI
WRITELN
STOP
