START
PUSHN 8
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 5
L1:
PUSHG 5
PUSHI 5
SUP
NOT
JZ L2
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
READ
ATOI
STOREN
NOP
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP L1
L2:
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 1
SUB
LOADN
STOREG 6
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 1
SUB
LOADN
STOREG 7
PUSHI 2
STOREG 5
L3:
PUSHG 5
PUSHI 5
SUP
NOT
JZ L4
PUSHG 6
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
LOADN
DUP 2
SUP
JZ L6
POP 1
JUMP L5
L6:
SWAP
POP 1
L5:
STOREG 6
PUSHG 7
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
LOADN
DUP 2
INF
JZ L8
POP 1
JUMP L7
L8:
SWAP
POP 1
L7:
STOREG 7
NOP
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP L3
L4:
PUSHS "Maximo: "
WRITES
PUSHG 6
WRITEI
WRITELN
PUSHS "Minimo: "
WRITES
PUSHG 7
WRITEI
WRITELN
STOP
