START
PUSHN 2
PUSHI 1
STOREG 0
L1:
PUSHG 0
PUSHI 3
SUP
NOT
JZ L2
PUSHI 1
STOREG 1
L3:
PUSHG 1
PUSHI 3
SUP
NOT
JZ L4
PUSHG 0
WRITEI
PUSHS " x "
WRITES
PUSHG 1
WRITEI
PUSHS " = "
WRITES
PUSHG 0
PUSHG 1
MUL
WRITEI
WRITELN
NOP
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L3
L4:
NOP
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP L1
L2:
STOP
