START
PUSHN 3
PUSHI 5
STOREG 0
PUSHI 3
STOREG 1
PUSHG 0
PUSHG 1
PUSHA IMPRIME
CALL
POP 2
PUSHG 0
PUSHG 1
ADD
STOREG 2
PUSHS "Soma: "
WRITES
PUSHG 2
WRITEI
WRITELN
STOP
IMPRIME:
PUSHS "Valor 1: "
WRITES
PUSHL -2
WRITEI
WRITELN
PUSHS "Valor 2: "
WRITES
PUSHL -1
WRITEI
WRITELN
RETURN
