START
PUSHN 2
PUSHS "Introduza um numero (1-12):"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 1
STOREG 1
L1:
PUSHG 1
PUSHI 12
SUP
NOT
JZ L2
PUSHG 0
WRITEI
PUSHS " x "
WRITES
PUSHG 1
WRITEI
PUSHS " = "
WRITES
PUSHG 0
PUSHG 1
MUL
WRITEI
WRITELN
NOP
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L1
L2:
STOP
